<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noindex,nofollow" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/artstyle")
    @Styles.Render("~/bundles/font")
    @Styles.Render("~/bundles/goofonts")
    <script>
        $(document).ready(function () {
            $(function () {
                $(this).bind("contextmenu", function (e) {
                    e.preventDefault();
                });
            });
            $(document).keydown(function (event) {
                if (event.keyCode == 123) {
                    return false;
                }
                else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                    return false;  //Prevent from ctrl+shift+i
                }

                var pressedKey = String.fromCharCode(event.keyCode).toLowerCase();
                if (event.ctrlKey && pressedKey == "u") {
                    return false;
                }
            });
        });
    </script>
</head>

<body class="bg-white">
    <!-- wrapper section starts-->
    <div class="wrapper">
        <!-- header section  start-->
        <header class="header-blue">
            <div class="main-container">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 Padding-Nil">
                    <a href="../" class="logo" title="ART"></a>
                </div>
                @*<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 Padding-Nil">
                        @if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_Multilingual_Enabled == "Y")
                        {
                            <form action="../Resource/Create" method="post" id="lay-resource-form">
                                <select id="localize" name="localize"></select>
                            </form>
                            <img src="~/Images/ArtImages/language-globe-18x18.svg" alt="globe-icon" class="pull-right">
                        }

                    </div>*@
            </div>
        </header>
        <!-- header section  end-->
        <!-- container section  start-->
        <div class="content-container">
            @RenderBody()
        </div>
        <!-- container section  end-->
    </div>
    <!-- wrapper section ends-->
    <!-- footer section starts-->
    <footer>
        <p>@Art.ArtCopyRights</p>
    </footer>
    <!-- footer section ends-->


</body>

</html>
