@model ArtHandler.Model.AccountUnlockModel
@{
    ViewBag.Title = "ART :: " + Art.UnlockAccount;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}



<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/acc-unlock.svg" alt="forgot-password">
    <span>@Art.UnlockAccount</span>
</div>

<form class="form-horizontal" role="form" id="unlockAccount-form" method="post" action="/User/UnlockAccount" autocomplete="off" style="display:none">
    @Html.AntiForgeryToken()
    <!-- user questionnaire section starts here-->
    <div id="unlock-questionnaire">
        <div class="col-sm-12 col-md-12 col-lg-12 form-box">
            @if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled == "Y")
            {
                <ul class="progressbar">
                    <li class="active">@Art.UserID</li>
                    <li class="active">@Art.AuthenticationType</li>
                    <li class="current">@Art.UnlockAccount</li>
                </ul>
            }
            else
            {
                <ul class="progressbar progressbar-2">
                    <li class="active">@Art.UserID</li>
                    <li class="current">@Art.UnlockAccount</li>
                </ul>
            }
            <div class="form-container row Padding-T30">
                <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label id="lblMessage" class="error">@ViewBag.Message</label>
                    </div>
                </div>
                @for (int i = 1; i <= Model.TotalQuestionsToAnswer; i++)
                {
                    <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>@Art.question @i</p>
                            <label id="sQue_@i"></label>
                            @*<select id="sQue_@i" class="select-box-readonly" name="sQue_@i" disabled></select>*@
                            @Html.Hidden("Que_" + i)
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>@Art.answer @i</p>
                            <input type="text" class="text-box" name="txtQueAns_@i" id="txtQueAns_@i" data-text="@Art.EmptyAnswerwError">
                            <label id="lblErrMessage_@i" for="txtQueAns_@i" class="error"></label>
                        </div>
                    </div>
                }
            </div>
           
        </div>

        <div class="btn-section">
            <input type="hidden" value="@ViewBag.UserId" name="hdnUserId" />
            <button class="cancel-btn clsGoHome" type="button">@Art.Cancel</button>
            <button class="submit-btn" type="button" id="btnUnlockAccount">@Art.unlock</button>
        </div>
    </div>
</form>


<!-- footer section ends-->
<!--Modal Success starts here-->
<div class="modal fade" id="modal-success" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/success-msg-tick.png">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">@Art.Great !!</p>
                <p class="modal-msg2">@ViewBag.Message</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-green clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Success ends here-->
<!--Modal Fail starts here-->
<div class="modal fade" id="modal-fail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/failure-msg-cancel.png">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">Oops!!</p>
                <p class="modal-msg2">@ViewBag.Message</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-red clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>

<!--Modal Fail ends here-->
<script src="~/Scripts/ARTScript/AccountUnlock.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accountUnlock.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        accountUnlock.defaults.userQuestionCount = '@Model.TotalQuestionsToAnswer';
        accountUnlock.defaults.Unlocked = '@ViewBag.Unlocked';
        accountUnlock.defaults.message = '@ViewBag.Message';
        accountUnlock.defaults.EmptyAnswerwError = '@Art.EmptyAnswerwError';
        accountUnlock.defaults.isOtpEnabled = '@ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled';
        accountUnlock.init();
    });
</script>
