@{
    ViewBag.Title = "ART :: " + Art.UnlockAccount;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/acc-unlock.svg" alt="forgot-password">
    <span>@Art.UnlockAccount</span>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 form-box">
    <ul class="progressbar">
        <li class="active">@Art.UserID</li>
        <li class="active">@Art.AuthenticationType</li>
        <li class="current">@Art.UnlockAccount</li>
    </ul>
    <form action="/User/AccountUnlockOTP" method="post" id="AccountUnlockOTP-form" style="display:none">
        @Html.AntiForgeryToken()
        <!--OTP section-->
        <div class="form-container row padding-T30">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-7 col-lg-6" id="otp-section">
                    <p>@Art.Enter_OTP</p>
                    <input type="text" class="text-box" name="txtOtp" id="txtOtp" data-text="@Art.EnterReceivedOtp" maxlength="6">
                    <label id="lblMessage" for="txtOtp" class="error">@ViewBag.Message</label>
                    <p id="pOtpWait" class="otp-section-msg"><span id="spnOtpReceiveMsg">@Art.OTPReceiveMsg</span> <strong><span id="seconds_timer"></span></strong> <a href="#" id="aUnlockAccResendOTP" style="display:none">@Art.Resend</a></p>
                    <p id="pOtpSecQuestion" style="display:none" class="otp-section-msg"><span>@Art.OTPFailureMsg</span> <a href="#" id="aSecQueUnlockAcc">@Art.SecurityQuestion</a></p>
                </div>
            </div>
        </div>

    </form>
    <form action="/User/AccountUnlockResendOTP" method="post" id="form-accUnlockresendOTP">
        @Html.AntiForgeryToken()
    </form>
</div>
<div class="btn-section">
    <button class="cancel-btn clsGoHome" type="button">@Art.Cancel</button>
    <button class="submit-btn" type="button" id="btnAccUnlockOtp">@Art.Next</button>
</div>

<!-- footer section ends-->
<!--Modal Success starts here-->
<div class="modal fade" id="modal-success" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/success-msg-tick.png">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">@Art.Great !!</p>
                <p class="modal-msg2">@ViewBag.Message</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-green clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Success ends here-->
<!--Modal Fail starts here-->
<div class="modal fade" id="modal-fail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/failure-msg-cancel.png">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">Oops!!</p>
                <p class="modal-msg2">@ViewBag.Message</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-red clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Fail ends here-->
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/ARTScript/AccountUnlockOtp.js?v=@JSVersion.version"></script>
<script src="~/Scripts/ARTScript/jquery.countdownTimer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        accountUnlockOtp.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        accountUnlockOtp.defaults.Unlocked = '@ViewBag.Unlocked';
        accountUnlockOtp.defaults.message = '@ViewBag.Message';
        accountUnlockOtp.defaults.PlsEnterOtp = '@Art.PlsEnterOtp';
        accountUnlockOtp.defaults.InvalidOTP = '@Art.InvalidOTP';
        accountUnlockOtp.defaults.AttemptCount = '@ViewBag.AttemptCount';
        accountUnlockOtp.defaults.IsOtpAttemptExceed = '@ViewBag.IsOtpAttemptExceed';
        accountUnlockOtp.defaults.OTPResendMsg = '@Art.OTPResendMsg';
        accountUnlockOtp.defaults.OTPMinMsg = '@Art.OTPMinMsg';

        $('#seconds_timer').countdowntimer({
            seconds: 60,
            timeUp: accountUnlockOtp.timeisUp
        });
        accountUnlockOtp.init();
    });
</script>