@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "ART :: " + Art.ChangePassword;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/change-password.svg" alt="change-password">
    <span>@Art.ChangePassword</span>
</div>

<form role="form" id="pwdreset-form" method="post" action="../Home/ResetPassword" autocomplete="off" style="display:none">
    @Html.AntiForgeryToken()
    <!-- content  section  start-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-box">
        <div class="form-container row">
            <!-- left side section  start-->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>@Art.UserID</p>
                    <input type="text" class="text-box clsaplhanumeric" autocomplete="off" id="inputEmail" name="inputEmail" value="">  @*data-text="@Art.EnterUserId in the format: 1234"*@
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    @*@if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled == "Y")
                        {
                            <p>@Art.OTP</p>
                            <input type="hidden" id="hdnMessage1" value="@Art.EnterOTP" data-text="Please enter received OTP" />
                        }
                        else
                        {*@
                    <p>@Art.CurrentPassword</p>
                    <input type="hidden" id="hdnMessage1" value="@Art.EnterCurrentPassword" />
                    @* }*@

                    <input type="password" class="text-box" id="inputOtpPassword" name="OTPPassword" value="" data-text="@Art.EnterCurrentPassword">
                </div>
            </div>
            <!-- left side section  end-->
            <!-- right side section  start-->
            <div class="col-sm-12 col-md-12 col-lg-12 Margin-Nil">
                <div class="col-sm-12 col-md-6 col-lg-6 margin-T15">
                    <p>@Art.NewPassword</p>
                    <input type="password" class="text-box" id="inputPassword" name="NewPassword" data-text="@Art.EnterNewPassword">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 margin-T15">
                    <p>@Art.ConfirmPassword</p>
                    <input type="password" class="text-box" id="inputConfPassword" name="ConfNewPassword" data-text="@Art.PlsConfirmNewPassword">
                </div>
            </div>
            <!-- right side section  end-->
            <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>Captcha</p>
                    @using (Html.BeginForm("CheckCaptcha", "Example", FormMethod.Post, new { @class = "column", role = "form" }))
                    {
                        <div class="actions col-lg-12 Padding-Nil" id="CaptchaSection">
                            @*@Html.TextBox("CaptchaCode")*@
                            <input id="CaptchaCode" class="text-box valid" name="CaptchaCode" type="text" value="" style="text-transform: uppercase;" data-text="Please enter the Captcha" maxlength="6">

                        </div>

                        <div id="CaptchaElement">
                            @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                                exampleCaptcha.UserInputID = "CaptchaCode";
                                exampleCaptcha.CodeLength = 6;
                                exampleCaptcha.CodeStyle = BotDetect.CodeStyle.Alphanumeric;
                                exampleCaptcha.ImageStyle = BotDetect.ImageStyle.Chipped;
                                exampleCaptcha.CustomDarkColor = System.Drawing.Color.Black;
                                exampleCaptcha.ImageSize = new System.Drawing.Size(250, 50);
                                exampleCaptcha.SoundStyle = BotDetect.SoundStyle.HiveMind;
                            }
                            @Html.Captcha(exampleCaptcha)
                        </div>
                        @*<div class="actions col-lg-6 Padding-Nil">
                                <input id="CaptchaCode" class="text-box valid" name="CaptchaCode" type="text" value="" style="text-transform: uppercase;">
                                <span class="status" id="status"></span>
                            </div>*@
                        <span class="status" id="status"></span>
                        <script src="~/Scripts/ARTScript/BotDetectCaptcha.js"></script>

                    }
                    @*<p>@Art.PleaseEnterImageText</p>
                        <input type="text" class="text-box" id="captchaText" name="captchaText" data-text="@Art.PlsEnterCaptcha">
                        <div id="captcha" style="display: inline-block; " class="pull-left"></div>
                        <input type="hidden" value="" id="captchavalue" />
                        @*<div class="col-sm-2 col-sm-2 col-xs-8 pull-left">
                            <button class="refreshcaptcha pull-left" id="recaptcha" type="button"></button>
                        @*</div>
                        <p id="msgalert"></p>*@
                </div>
            </div>
            @Html.Partial("PasswordInfo")
            @*<div class="col-sm-12 col-md-12 col-lg-12 info-section">
                    <div><span class="info-title"><img class="info-img-lt" src="../Images/ArtImages/info-logo.svg" alt="information-img">information</span></div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 Padding-Nil">
                        <ul class="info-content">
                            <li>Should not have been used last 7 times</li>
                            <li>Avoid containing your employee id or the phrase password, pass , hexaware , hex etc...</li>
                            <li>Previous and current password should not be same</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 Padding-Nil">
                        <ul class="info-content">
                            <li>Should not have been used last 7 times</li>
                            <li>Avoid containing your employee id or the phrase password, pass , hexaware , hex etc...</li>
                            <li>Previous and current password should not be same</li>
                        </ul>
                    </div>
                </div>*@
        </div>

    </div>
    <!-- content  section  end-->
    <div class="btn-section">
        <button class="cancel-btn clsGoHome" type="button" id="btnChgPasswordCancel">@Art.Cancel</button>
        <button class="submit-btn" type="button" id="btnChgPassword">@Art.Change</button>
    </div>
    <input type="hidden" value="7061737323313233" id="hdky" />
</form>

<!--Modal Success starts here-->
<div class="modal fade" id="modal-success" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/success-msg-tick.png" alt="Success">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">@Art.Great !!</p>
                <p class="modal-msg2">@ViewBag.Message</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-green clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Success starts here-->
<!--Modal Fail starts here-->
<div class="modal fade" id="modal-fail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/failure-msg-cancel.png" alt="Fail">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">Oops!!</p>
                <p class="modal-msg2">@ViewBag.Message</p>  <a href="/UnlockAccount" id="aUnlockAcc" style="display:none"> @Art.ClickHereToUnlock </a>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-red" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Fail ends here-->


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/cryptojs/core.js"></script>
<script src="~/Scripts/cryptojs/aes.js"></script>
<script src="~/Scripts/ARTScript/ChangePassword.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {
        changePassword.defaults.IsPasswordChanged = '@ViewBag.IsPasswordChanged';
        changePassword.defaults.IsAccountLocked = '@ViewBag.IsAccountLocked'
        changePassword.defaults.Message = '@ViewBag.Message';
        changePassword.defaults.DefaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        changePassword.defaults.MissingUserID = '@Art.MissingUserID';
        changePassword.defaults.Min6Char = '@Art.Min6Char';
        changePassword.defaults.EnterNewPassword = '@Art.EnterNewPassword';
        changePassword.defaults.Max13Char = '@Art.Max13Char';
        changePassword.defaults.Min9Char = '@Art.Min9Char';
        changePassword.defaults.PasswordPolicy = '@Art.PasswordPolicy';
        changePassword.defaults.ReenterPassword = '@Art.ReenterPassword';
        changePassword.defaults.PasswordMismatch = '@Art.PasswordMismatch';
        changePassword.defaults.EnterCaptchaImageText = '@Art.EnterCaptchaImageText';
        changePassword.defaults.InvalidCaptcha = '@Art.InvalidCaptcha';
        changePassword.defaults.InvalidUserId = '@Art.InvalidUserId';
        changePassword.defaults.PasswordSpaceMsg = '@Art.PasswordSpaceMsg';
        changePassword.defaults.SamePasswordMsg = '@Art.SamePasswordMsg';
        changePassword.defaults.passwordpharsecheck = '@Art.PasswordInfo_information5';
        changePassword.init();
        custom.defaults.MinMax = '@Art.MinMaxMsg';
        custom.defaults.UpperCase = '@Art.OneUpperCaseLetter';
        custom.defaults.SmallLetter = '@Art.OneSmallLetter';
        custom.defaults.NumericChar = '@Art.OneNumericChar';
        custom.defaults.SpecialChar = '@Art.OneSpecialChar';
    });

</script>