@{
    ViewBag.Title = "ART :: " + Art.ForgotPassword;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/reset-password.svg" alt="forgot-password">
    <span>@Art.ForgotPassword</span>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 form-box" id="dvResetPasswordAuthType" style="display:none">
    <ul class="progressbar progressbar-4">
        <li class="active">@Art.UserID</li>
        <li class="current">@Art.AuthenticationType</li>
        <li>@Art.WizAuthentication</li>
        <li>@Art.resetpasswrod_home</li>
    </ul>

    <div class="form-container row text-center padding-T30">
        <!-- OTP section  start-->
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="col-sm-12 col-md-12 col-lg-12 padding-vertical" id="dvOtpMain">
                <form action="/User/ResetPasswordAuthOTP" method="post" id="otp-form">
                    @Html.AntiForgeryToken()
                    <span id="radiobtn-OTP" class="radio-checked"></span><label for="radiobtn-OTP" class="radio-label">@Art.OTP</label>
                    <div class="col-sm-12 col-md-12 col-lg-12 auth-grp auth-grp-open" id="section-otp">
                        <span class="color-grey Font-12">@Art.OTP_Caption @ViewBag.MobileNumber</span>
                        <button class="submit-btn Margin-Nil" type="submit">@Art.Send</button>

                    </div>
                    <label id="lblMessage" class="error">@ViewBag.Message</label>
                </form>
            </div>

        </div>
        <!-- OTP section  end-->
        <!-- Security Questions section  start-->
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="col-sm-12 col-md-12 col-lg-12 padding-vertical">
                <form action="/User/ResetPasswordAuthSecQue" method="post" id="">
                    @Html.AntiForgeryToken()
                    <span id="radiobtn-security" class=""></span><label class="radio-label">@Art.SecurityQuestion</label>
                    <div class="col-sm-12 col-md-12 col-lg-12 auth-grp" id="section-security">
                        <span class="color-grey Font-12">@Art.SecQue_Caption</span>
                        <button class="submit-btn Margin-Nil" type="submit">@Art.Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/ARTScript/ResetPasswordAuthType.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {
        resetPasswordAuthType.defaults.otpDisableMsg = '@Art.OTPDisableMsg';
        resetPasswordAuthType.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        resetPasswordAuthType.defaults.isOtpEnabled = '@Html.Raw(ViewBag.IsOtpEnabled)';
        resetPasswordAuthType.defaults.IsOtpAttemptExceed = '@ViewBag.IsOtpAttemptExceed';
        resetPasswordAuthType.defaults.OTPMaxAttemptMsg = '@Art.OTPMaxAttemptMsg';
        resetPasswordAuthType.init();
    });
</script>
