@using BotDetect.Web.Mvc;
@model ArtHandler.Model.ResetModel

@{
    ViewBag.Title = "ART :: " + Art.ForgotPassword;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}



<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/reset-password.svg" alt="forgot-password">
    <span>@Art.ForgotPassword</span>
</div>

<form action="/User/CheckUserExist" method="post" id="resetform1" style="display:none">
    @Html.AntiForgeryToken()
    <div class="col-sm-12 col-md-12 col-lg-12 form-box">
        @if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled == "Y")
        {
            <ul class="progressbar progressbar-4">
                <li class="current">@Art.UserID</li>
                <li>@Art.AuthenticationType</li>
                <li>@Art.WizAuthentication</li>
                <li>@Art.resetpasswrod_home</li>
            </ul>
        }
        else
        {
            <ul class="progressbar">
                <li class="current">@Art.UserID</li>
                <li>@Art.WizAuthentication</li>
                <li>@Art.resetpasswrod_home</li>
            </ul>
        }
        <!-- user id input section starts here-->
        <div class="form-container row Padding-T30">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>@Art.UserID</p>
                    @if (!string.IsNullOrEmpty(ViewBag.UserId))
                    {
                        <input type="text" class="text-box clsaplhanumeric" name="txtUserId" id="txtUserId" value="@ViewBag.UserId" >  @*data - text = "@Art.EnterYourUserId, e.g., 1234"*@
                    }
                    else
                    {
                        <input type="text" class="text-box clsaplhanumeric" name="txtUserId" id="txtUserId" /> @*data - text = "@Art.EnterYourUserId in the format: 1234"*@
                    }
                    @if (!string.IsNullOrEmpty(@ViewBag.Message))
                    {
                        if (string.IsNullOrEmpty(ViewBag.IsAccountLocked))
                        {
                            <label id="lblMessage" for="txtUserId" class="error">@ViewBag.Message</label>
                        }
                        else
                        {
                            <div id="lblMessage" class="error">@ViewBag.Message  <a href="/UnlockAccount"> @Art.ClickHereToUnlock </a> </div>
                        }
                    }
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>Captcha</p>
                    @using (Html.BeginForm("CheckCaptcha", "Example", FormMethod.Post, new { @class = "column", role = "form" }))
                    {
                        <div class="actions col-lg-12 Padding-Nil" id="CaptchaSection">
                            @*@Html.TextBox("CaptchaCode")*@
                            <input id="CaptchaCode" class="text-box valid" autocomplete="off" name="CaptchaCode" type="text" value="" style="text-transform: uppercase;" data-text="Please enter the Captcha" maxlength="6">

                        </div>

                        <div id="CaptchaElement">
                            @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                             exampleCaptcha.UserInputID = "CaptchaCode";
                             exampleCaptcha.CodeLength = 6;
                             exampleCaptcha.CodeStyle = BotDetect.CodeStyle.Alphanumeric;
                             exampleCaptcha.ImageStyle = BotDetect.ImageStyle.Chipped;
                             exampleCaptcha.CustomDarkColor = System.Drawing.Color.Black;
                             exampleCaptcha.ImageSize = new System.Drawing.Size(250, 50);
                             exampleCaptcha.SoundStyle = BotDetect.SoundStyle.HiveMind;
                            }
                            @Html.Captcha(exampleCaptcha)
                        </div>
                        @*<div class="actions col-lg-6 Padding-Nil">
                            <input id="CaptchaCode" class="text-box valid" name="CaptchaCode" type="text" value="" style="text-transform: uppercase;">
                            <span class="status" id="status"></span>
                        </div>*@
                         <span class="status" id="status"></span>
                        <script src="~/Scripts/ARTScript/BotDetectCaptcha.js"></script>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="btn-section">
        <button class="cancel-btn clsGoHome" type="button" id="btnCancelUser">@Art.Cancel</button>
        <button class="submit-btn" type="button" id="btnResetLogin">@Art.Continue</button>
    </div>

</form>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/ARTScript/ResetPasswordLogin.js?v=@JSVersion.version"></script>

<script type="text/javascript">
    $(document).ready(function () {
        resetPasswordLogin.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        resetPasswordLogin.defaults.enterUserId = '@Art.EnterUserName';
        resetPasswordLogin.defaults.InvalidUserId = '@Art.InvalidUserId';

        resetPasswordLogin.init();

    });
</script>