@{
    ViewBag.Title = "ART :: " + Art.ForgotPassword;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/reset-password.svg" alt="change-password">
    <span>@Art.ForgotPassword</span>
</div>

<form class="form-horizontal" role="form" id="reset-form" method="post" action="../User/Reset" autocomplete="off" style="display:none">
    <!-- content  section  start-->
    @Html.AntiForgeryToken()

    <div class="col-sm-12 col-md-12 col-lg-12 form-box">
        @if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled == "Y")
        {
            <ul class="progressbar progressbar-4">
                <li class="active">@Art.UserID</li>
                <li class="active">@Art.AuthenticationType</li>
                <li class="active">@Art.WizAuthentication</li>
                <li class="current">@Art.resetpasswrod_home</li>
            </ul>
        }
        else
        {
            <ul class="progressbar">
                <li class="active">@Art.UserID</li>
                <li class="active">@Art.WizAuthentication</li>
                <li class="current">@Art.resetpasswrod_home</li>
            </ul>
        }
        @*<img class="info-img" src="~/Images/ArtImages/information.svg" alt="information-img">
             info tool tip section  starts
            <div class="row info-box">
                <h2 class="info-title">Your password Should:</h2>
                <ul class="info-body">
                    <li>Minimum 9 characters in length</li>
                    <li>Maximum 13 characters in length</li>
                    <li>
                        Should have at least any four of the below –
                        <ul>
                            <li>One capital letter</li>
                            <li>One small letter</li>
                            <li>One numeric</li>
                            <li>One special character (Except -`:"[]')</li>
                        </ul>
                    </li>
                    <li>Should not have been used last 7 times.</li>
                    <li>Should not contain your employee id or the phrase password, pass , hexaware ,hex etc...</li>
                </ul>
            </div>*@

        <!-- register section starts here-->
        <div class="form-container row Padding-T30">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-6 col-lg-6 controls">
                    <p class="required">@Art.NewPassword</p>
                    <input type="password" class="text-box" name="txtNewPassword" id="txtNewPassword" value="" data-text="@Art.EnterNewPassword" />
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p class="required">@Art.ConfirmPassword</p>
                    <input type="password" class="text-box" name="txtConfNewPassword" id="txtConfNewPassword" value="" data-text="@Art.PlsConfirmPassword" />
                </div>
            </div>
            @Html.Partial("PasswordInfo")
        </div>

    </div>

    <div class="btn-section">
        <button class="cancel-btn clsGoHome" type="button">@Art.Cancel</button>
        <button class="submit-btn" type="button" id="btnReset">@Art.Submit</button>
    </div>
    <input type="hidden" value="7061737323313233" id="hdky" />
</form>

<!--Modal Success starts here-->
<div class="modal fade" id="modal-success" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/success-msg-tick.png">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">@Art.Great !!</p>
                <p class="modal-msg2">@ViewBag.Message</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-green clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Success starts here-->
<!--Modal Fail starts here-->
<div class="modal fade" id="modal-fail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width-size">
            <div class="modal-header text-center ">
                <img src="~/Images/ArtImages/failure-msg-cancel.png">
            </div>

            <div class="modal-body text-center">
                <p class="modal-msg1">Oops!!</p>
                <p class="modal-msg2">@ViewBag.Message</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-modal bg-red clsGoHome" data-dismiss="modal">ok</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Fail ends here-->
<script src="~/Scripts/cryptojs/core.js"></script>
<script src="~/Scripts/cryptojs/aes.js"></script>
<script src="~/Scripts/ARTScript/Reset.js?v=@JSVersion.version"></script>
<script>
    $(document).ready(function () {
        reset.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        reset.defaults.Message = '@Html.Raw(ViewBag.Message)';
        reset.defaults.IsPasswordReset = '@ViewBag.IsPasswordReset';
        reset.defaults.EnterNewPassword = '@Art.EnterNewPassword';
        reset.defaults.Max13Char = '@Art.Max13Char';
        reset.defaults.Min9Char = '@Art.Min9Char';
        reset.defaults.PasswordPolicy = '@Art.PasswordPolicy';
        reset.defaults.ReenterPassword = '@Art.ReenterPassword';
        reset.defaults.PasswordMismatch = '@Art.PasswordMismatch';
        reset.defaults.PasswordSpaceMsg = '@Art.PasswordSpaceMsg';
        reset.defaults.passwordpharsecheck = '@Art.PasswordInfo_information5';
        reset.defaults.UserId = '@ViewBag.UserId';

        reset.init();
        custom.defaults.MinMax = '@Art.MinMaxMsg';
        custom.defaults.UpperCase = '@Art.OneUpperCaseLetter';
        custom.defaults.SmallLetter = '@Art.OneSmallLetter';
        custom.defaults.NumericChar = '@Art.OneNumericChar';
        custom.defaults.SpecialChar = '@Art.OneSpecialChar';
    });
</script>