
@model  ArtHandler.Model.UserModel
@{
    ViewBag.Title = "EmployeeSearch";
    Layout = "~/Views/LayoutMaster/_Layout2.cshtml";

}
<style>
    .cls-disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }

    #jsGrid .jsgrid-grid-header {
        overflow-y: hidden !important;
    }

    #jsGrid .jsgrid-grid-body {
        overflow-y: hidden !important;
    }

    #radiobtn-common,
    #radiobtn-dynamic {
        width: 20px;
        height: 18px;
        border-radius: 50%;
        display: inline-block;
        background-image: url(../Images/ArtImages/radio-btn-img.png);
        background-repeat: no-repeat;
        background-position: -41px -4px;
        cursor: pointer;
    }

    .radio-label {
        padding: 0 30px 0 15px;
        vertical-align: 5px;
        font-weight: normal;
    }

    .radio-checked {
        background-position: -12px -4px !important;
    }

    .radio-disabled {
        background-position: -71px -4px !important;
        cursor: default !important;
    }

    #tblGroup {
        font-size: 12px;
    }

    .dvbitlockloadinfo {
        text-align: center;
        margin-top: 5%;
    }
    style="height:10px;" .dvperiod {
        text-transform: capitalize;
        float: right;
        background-repeat: no-repeat;
        background-position: 100% -2px;
        color: #16a2e1;
    }

    .margin-T15 {
        margin-top: 5px !important;
    }

    .model-overflow-y {
        height: 400px;
        overflow-y: auto;
        max-height: calc(100vh - 210px);
    }
</style>
<form id="employeeSearch-form">
    <div class="pre-loader"></div>
    <div class="wrapper">
        <!-- container section  start-->
        <div class="content-container">

            <div class="col-sm-12 col-md-12 col-lg-12 page-title text-center emp_search_header">
                <img src="../Images/ArtImages/search-icon.svg" alt="search-icon">
                <span>search</span>
            </div>

            <!-- content  section  start-->
            <div class="col-sm-12 col-md-12 col-lg-12 form-box">

                <!-- input section starts here-->
                <div class="form-container row padding-T30">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>emp ID</p>
                            <input type="text" class="text-box" id="txtUserId" name="txtUserId" data-text="Enter employee id">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span id="advanceSearch">advanced search</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                        <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil datePick" id="datePick">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p>start date</p>
                                <input type="text" class="text-box text-date" id="startDate">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p>end date</p>
                                <input type="text" class="text-box text-date" id="endDate">
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p>start date</p>
                                <input type="text" class="text-box text-date" id="startDate" value="2017/04/28 17:00">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p>end date</p>
                                <input type="text" class="text-box text-date" id="endDate" value="2017/04/28 17:00">
                            </div>
                        </div>*@
                </div>
            </div>

            <div class="btn-section">
                <a class="cancel-btn" onclick="employeeSearch.btnCancelClick()">cancel</a>
                <a class="submit-btn" id="btnCheck" onclick="employeeSearch.btnCheck()">check</a>

            </div>
            <span style="display:none" id="spnInvalidUser">- User data not found -</span>
            <!-- input section ends here-->

            <div class="col-sm-12 col-md-12 col-lg-12 form-box Padding-Nil" id="dvUserInfo" style="display:none; margin-bottom:2px;">

                <!-- employee details section starts here-->
                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil">
                    <div class="section-header">
                        <img src="../Images/ArtImages/user-icon.png" alt="user-icon">
                        <span id="empName" class="clsNA"> - NA -</span>
                        @*@if (Convert.ToBoolean(Session["IsReadOnly"]) == true)
                            {
                                <a class="section-btn pull-right" id="accUnlock" style="cursor:default !important"><img src="../Images/ArtImages/unlock-icon.png" alt="unlock-icon">unlock account</a>
                                <a class="section-btn pull-right" id="pwdReset" style="cursor: default !important"><img src="../Images/ArtImages/refresh-icon.png" alt="refresh-icon">reset password</a>
                            }
                            else
                            {
                                <a class="section-btn pull-right" id="accUnlock" onclick="employeeSearch.btnUnlockClick();"><img src="../Images/ArtImages/unlock-icon.png" alt="unlock-icon">unlock account</a>
                                <a class="section-btn pull-right" id="pwdReset" onclick="employeeSearch.btnResetClick()"><img src="../Images/ArtImages/refresh-icon.png" alt="refresh-icon">reset password</a>


                            }*@
                        @if (ViewBag.UnlockBtn == "accUnlock")
                        {
                            <a class="section-btn pull-right" id="accUnlock" onclick="employeeSearch.btnUnlockClick();"><img src="../Images/ArtImages/unlock-icon.png" alt="unlock-icon">unlock account</a>
                        }
                        else
                        {
                            <a class="section-btn pull-right" id="accUnlock" style="cursor:default !important"><img src="../Images/ArtImages/unlock-icon.png" alt="unlock-icon">unlock account</a>
                        }
                        @if (ViewBag.ResetBtn == "pwdReset")
                        {
                            <a class="section-btn pull-right" id="pwdReset" onclick="employeeSearch.btnResetClick()"><img src="../Images/ArtImages/refresh-icon.png" alt="refresh-icon">reset password</a>
                        }
                        else
                        {
                            <a class="section-btn pull-right" id="pwdReset" style="cursor: default !important"><img src="../Images/ArtImages/refresh-icon.png" alt="refresh-icon">reset password</a>
                        }


                    </div>
                    <div class="section-body">
                        <div class="row Margin-Nil">
                            <div class="col-sm-12 col-md-4 col-lg-4 Padding-Nil">
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil">
                                    <div class="col-sm-6 col-md-3 col-lg-4 Padding-Nil">
                                        <label>status:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-8 Padding-Nil">
                                        <span class="acc-status red clsNA" id="spnStatus"> - NA - </span>
                                        <!-- <span class="acc-status green">active</span>
                                        <span class="acc-status grey">inactive</span>-->
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil margin-T15">
                                    <div class="col-sm-6 col-md-3 col-lg-4 Padding-Nil">
                                        <label>DOB:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-8 Padding-Nil">
                                        <span id="empDOB" class="clsNA">- NA -</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil margin-T15">
                                    <div class="col-sm-6 col-md-3 col-lg-4 Padding-Nil">
                                        <label>password age:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-8 Padding-Nil">
                                        <span id="empPassAge" class="clsNA">- NA -</span>
                                    </div>
                                </div>
                                @*<div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil">
                                        <div class="col-sm-6 col-md-3 col-lg-2 Padding-Nil">
                                            <label>manager:</label>
                                        </div>
                                        <div class="col-sm-6 col-md-9 col-lg-10 Padding-Nil">
                                            <span id="empManager">- NA -</span>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 Padding-Nil" id="dvQuestionAnswer">
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil">
                                    <div class="col-sm-6 col-md-3 col-lg-5 Padding-Nil">
                                        <label>Mobile:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-7 Padding-Nil">
                                        <span id="empMobileNum" class="clsNA">- NA -</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil margin-T15">
                                    <div class="col-sm-6 col-md-3 col-lg-5 Padding-Nil">
                                        <label>Registered in ART:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-7 Padding-Nil">
                                        <span id="spnIsRegistered" class="clsNA">- NA -</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil margin-T15">
                                    <div class="col-sm-6 col-md-3 col-lg-5 Padding-Nil">
                                        <label>Password Expired:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-7 Padding-Nil">
                                        <span id="spnIsPassExpired" class="clsNA">- NA -</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 Padding-Nil" id="dvQuestionAnswer">
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil">
                                    <div class="col-sm-6 col-md-3 col-lg-5 Padding-Nil">
                                        <label>OU Info:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-7 Padding-Nil">
                                        <span id=""><a href="javascript:void(0);" id="aShowOu">Show</a></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil margin-T15">
                                    <div class="col-sm-6 col-md-3 col-lg-5 Padding-Nil">
                                        <label>Bit Locker:</label>
                                    </div>
                                    <div class="col-sm-6 col-md-9 col-lg-7 Padding-Nil">
                                        <span id="spnbitlocker"><a href="javascript:void(0);" id="aShowBitlocker">Show</a></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 Padding-Nil margin-T15 text-center" id="div-EnrollLink">
                                <a class="submit-btn" id="btnenroll" onclick="employeeSearch.btnenroll()">Create Enrollment link</a>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- employee details section ends here-->
            </div>
            <!-- chart and grid section starts here-->

            <div class="col-sm-12 col-md-12 col-lg-12 form-box" id="dvChartBox" style="display:none">
                <div class="section-container">
                    <p id="pChartHeader">
                        Total Lockouts for the selected period : @*<span id="chartDays">30</span> Days: *@<span id="totalLock">0</span> &nbsp; &nbsp;
                        <a href="javascript:void(0);" onclick="employeeSearch.downloadAsCsv()" title="Download as CSV">Download as CSV</a>

                        @*<a href="/Reports/DownloadCsv/">Download CSV</a>*@
                    </p>
                    @*<a id="viewDetails" href="javascript:void(0);">view details</a>*@
                    <span style="display:none" id="spnChartNoData">- No data found -</span>
                    <div id="chart">

                    </div>

                    <div id="jsGrid">
                    </div>


                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 form-box" id="dvuserActivityContainer" style="display:none">
                <div class="section-container">
                    <h3 class="form-title">User Activity info</h3><div class="dvperiod">Last 7 days</div>
                    <div id="dvUserActivity">
                    </div>
                </div>
            </div>

        </div>
        <!-- container section  end-->
    </div>
    <div class="modal fade" id="modal-confirm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content width-size">
                <div class="modal-header text-center ">
                    <img src="~/Images/ArtImages/success-msg-tick.png">
                </div>
                <div class="modal-body text-center">
                    <p class="modal-msg1">Great!!</p>
                    <p class="modal-msg2" id="passwordResetConf"></p>
                </div>
                <div class="modal-footer text-center">
                    @*<a class="cancel-btn" data-dismiss="modal">@Art.Cancel</a>*@
                    <button type="button" class="btn-modal bg-green" data-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-reset" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content width-size">
                <div class="modal-header">
                   
                </div>
                <div class="modal-body">

                    <div class="row text-center">
                        <h4>Random Reset Password</h4>

                    </div>
                </div>
                <div class="modal-footer text-center">
                    <p class="modal-msg2" id="presetmessage"></p>
                    <div id="dvbtn1">
                        <a class="cancel-btn" data-dismiss="modal">@Art.Cancel</a>
                        <button type="button" class="btn-modal bg-green" onclick="employeeSearch.btnCangePasswordClick()">Change</button>
                    </div>
                    <div id="dvbtn2" style="display:none">
                        <button type="button" class="btn-modal bg-green" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-fail" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content width-size">
                <div class="modal-header text-center ">
                    <img src="~/Images/ArtImages/failure-msg-cancel.png" alt="Fail">
                </div>

                <div class="modal-body text-center">
                    <p class="modal-msg1">Oops!!</p>
                    <p class="modal-msg2" id="fail-msg"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-modal bg-red" data-dismiss="modal">Ok</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-ou" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content width-size">
                <div class="modal-header">
                    <h4>User OU / Group Info</h4>
                </div>
                <div class="modal-body" id="dvUserOUInfobody">
                    <h6>OU : <span id="dvUserOUName">loading...</span></h6>
                    <h6>Member Of</h6>

                    <div id="dvUserGroupInfo">loding....</div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn-modal bg-green" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-bitlocker" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content width-size">
                <div class="modal-header">
                    <h4>Bit locker Info</h4>
                </div>
                <div class="modal-body" id="dvbitlockerbody">
                    <p>Computer Name</p>
                    <input type="text" class="text-box" id="txtComputerName" name="txtComputerName" data-text="Please enter computer name">

                    <div id="dvBitLockerInfo"></div>

                </div>
                <div class="modal-footer text-center">
                    <a class="cancel-btn" data-dismiss="modal">@Art.Cancel</a>
                    <button type="button" class="btn-modal bg-green" onclick="employeeSearch.bindBitlockerInfo()">Show</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-lockinfo" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content width-size">
                <div class="modal-header">
                    <h5>Account locked out details</h5>
                </div>
                <div class="modal-body model-overflow-y" id="dvAccpuntlockerbody">
                  
                    <div id="dvUserAgentInfo">Loading....</div>
                </div>
                <div class="modal-footer text-center">
                    <a class="cancel-btn" data-dismiss="modal">@Art.Cancel</a>
                   
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="7061737323313233" id="hdky" />
</form>
<form class="form-horizontal" role="form" id="csvform" method="post" action="/Reports/DownloadCsv" autocomplete="off">
    @Html.Hidden("UserId")
    @Html.Hidden("StartDate")
    @Html.Hidden("EndDate")

</form>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/ARTScript/echarts.js"></script>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
@*<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />*@
<script src="~/Scripts/ARTScript/jsgrid.min.js"></script>
<link href="~/Css/jsgrid-theme.min.css" rel="stylesheet" />
<link href="~/Css/jsgrid.min.css" rel="stylesheet" />
<script src="~/Scripts/ARTScript/datetimepicker.full.min.js"></script>
<link href="~/Css/datetimepicker.css" rel="stylesheet" />
<link href="~/Css/jquery.loading.css" rel="stylesheet" />
<script src="~/Scripts/ARTScript/jquery.loading.js"></script>
<script src="~/Scripts/cryptojs/core.js"></script>
<script src="~/Scripts/cryptojs/aes.js"></script>

<script src="~/Scripts/ARTScript/EmployeeSearch.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).keypress(function (e) {
                if (e.which == 13) {
                    $('#btnCheck').trigger('click');
                }
            });

            employeeSearch.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
            employeeSearch.defaults.userId = '@Html.Raw(ViewBag.UserId)';
            employeeSearch.defaults.gsdUserId = '@Html.Raw(ViewBag.UserId)';
            employeeSearch.defaults.empId = '@Html.Raw(ViewBag.EmpId)';
            employeeSearch.defaults.userPrivilegeReset = '@Html.Raw(ViewBag.ResetBtn)';
            employeeSearch.defaults.userPrivilegeUnlock = '@Html.Raw(ViewBag.UnlockBtn)';
            employeeSearch.defaults.startDt = '@Html.Raw(ViewBag.StartDt)';
            employeeSearch.defaults.endDt = '@Html.Raw(ViewBag.EndDt)';
            employeeSearch.defaults.mode = '@Html.Raw(ViewBag.Mode)';
            //date picker for employee search
            $("#div-EnrollLink").hide();
            var d1 = new Date();
            var d2 = new Date(d1);
            d2.setHours(d1.getHours() - 24);
            if (employeeSearch.defaults.startDt == "" || employeeSearch.defaults.endDt == "") {
                $("#startDate").datetimepicker({ value: new Date(d2) });
                $("#endDate").datetimepicker({ value: new Date() });
            }
            else {
                $("#startDate").datetimepicker({ value: new Date(employeeSearch.defaults.startDt) });
                $("#endDate").datetimepicker({ value: new Date(employeeSearch.defaults.endDt) });
                if (employeeSearch.defaults.mode == "DTRANGE") {
                    $('#datePick').slideToggle();
                }
            }

            

            // $("#startDate").val();

            employeeSearch.init();
            //search toggle
            $('#advanceSearch').on('click', function () {
                $('#datePick').slideToggle();
            });

            //For menu highlight // DOM are loaded in Layout2 ;)
            $("#aDashboard").removeClass('color-white');
            $("#aSearch").addClass('color-white');
            $("#aGsdview").removeClass('color-white');

            /*radio span on selection style change*/
            $('#radiobtn-common, #lblcommon').on('click', function () {
                $('#radiobtn-common').addClass('radio-checked');
                $('#radiobtn-dynamic').removeClass('radio-checked');

            });
            $('#radiobtn-dynamic, #lbldynamic').on('click', function () {
                $('#radiobtn-dynamic').addClass('radio-checked');
                $('#radiobtn-common').removeClass('radio-checked');
            });
        });

</script>
