@{

    ViewBag.Title = "ART :: Home";
    Layout = "~/Views/LayoutMaster/_EmptyLayout.cshtml";
}

<!-- wrapper section starts-->
<div class="wrapper" id="page_effect" style="display:none">
    <!-- header section starts-->
    <header class="top-bg">
        <div class="main-container">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 Padding-Nil">
                <a href="../" class="logo" title="ART"></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 Padding-Nil">
                @if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_Multilingual_Enabled == "Y")
                {
                    <form action="/Resource/Create" method="post" id="resource-form">
                        <select name="localize" id="localize"></select>
                    </form>
                    <img src="~/Images/ArtImages/language-globe-18x18.svg" alt="globe-icon" class="pull-right">
                }
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Padding-Nil home-title">
                <h1>@Art.AccountRecoveryTool</h1>
            </div>
        </div>
    </header>
    <!-- header section ends-->
    <!-- main content section starts here-->
    <main class="content-container content-above row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a href="/Enroll/Login" title="@Art.userenrollupdate_home">
                <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" id="user-enroll">

                    <img src="~/Images/ArtImages/user-enroll.svg" alt="user-enroll">
                    <p>@Html.Raw(Art.HomeUserEnroll)</p>
                    <p class="meta-phrase">For Enrolling / Updating User Details</p>
                </section>
            </a>
            <a href="/UnlockAccount" title="@Art.UnlockAccount">
                <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" id="account-unlock">
                    <img src="~/Images/ArtImages/acc-unlock.svg" alt="account-unlock">
                    <p>@Html.Raw(Art.HomeUnlockAccount)</p>
                    <p class="meta-phrase">For Account Lockout Cases</p>
                </section>
            </a>
           
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a href="/ForgotPassword" title="@Art.ForgotPassword">
                <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" id="reset-pwd">
                    <img src="~/Images/ArtImages/reset-password.svg" alt="reset-password">
                    <p>@Html.Raw(Art.HomeResetPassword)</p>
                    <p class="meta-phrase">For Forgotten or Expired Password</p>
                </section>
            </a>
            <a href="/ChangePassword" title="@Art.ChangePassword">
                <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center Border-Nil" id="change-pwd">
                    <img src="~/Images/ArtImages/change-password.svg" alt="change-password">
                    <p>@Html.Raw(Art.HomeChangePassword)</p>
                    <p class="meta-phrase">For Changing Current Password</p> 
                </section>
            </a>
        </div>
        <div class="form-box-foot row Margin-Nil">
            <ul class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <li>User enrollment is a one-time activity.</li>
                <li>A user needs to be enrolled to unlock their account or reset their password.</li>
                <li>Enrollment in ART is not allowed if the user’s account is locked out, password expired or password forgotten.</li>
            </ul>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 padding-nil" id="dvUserGuide">
                @if (!ArtHandler.Repository.Utility.IsInternetRequest())
            {
                    <a href="../Documents/UserManual.pdf" target="_blank" class="user-guide" download><img src="../Images/ArtImages/pdf-icon.png" alt="pdf-icon" />user manual</a>
                }
            </div>
        </div>
    </main>
    

    

    
    <!-- main content section ends here-->
</div>
<!-- wrapper section ends-->
<!-- footer section starts-->
<footer>
    <p>@Art.ArtCopyRights</p>
</footer>
<!-- footer section ends-->

<script src="~/Scripts/ARTScript/HomePage.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#page_effect').fadeIn("fast");
        $('#page_effect').fadeIn(1000);

        homePage.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';

        homePage.init();

        $('#localize').on('change', function () {
            document.forms["resource-form"].submit();
        });
    });
</script>