<div class="col-sm-12 col-md-12 col-lg-12 info-section">
    <div><span class="info-title"><img class="info-img-lt" src="../Images/ArtImages/info-logo.svg" alt="information-img">@Art.PasswordInfo_information</span></div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 Padding-Nil">
        <ul class="info-content">
            <li>@Art.PasswordInfo_information1</li>
            @*<li>@Art.PasswordInfo_information2</li>*@
            <li>@Art.PasswordInfo_information3</li>
            <li>Minimum password age is 1 day</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 Padding-Nil">
        <ul class="info-content">
            <li>@Art.PasswordInfo_information4</li>
            <li>@Art.PasswordInfo_information5</li>
            <li>New password should not contain a part of the old password </li>
        </ul>
    </div>
</div>
