@model ArtHandler.Model.ResetModel
@{
    ViewBag.Title = "ART :: " + Art.ForgotPassword;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/reset-password.svg" alt="forgot-password">
    <span>@Art.ForgotPassword</span>
</div>

<form class="form-horizontal" role="form" id="reset-form" method="post" action="/User/ResetPasswordQuestionAnswer" autocomplete="off" style="display:none">
    <!-- user questionnaire section starts here-->
    @Html.AntiForgeryToken()
    <div id="unlock-questionnaire">
        <div class="col-sm-12 col-md-12 col-lg-12 form-box">
            @if (ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled == "Y")
            {
                <ul class="progressbar progressbar-4">
                    <li class="active">@Art.UserID</li>
                    <li class="active">@Art.AuthenticationType</li>
                    <li class="current">@Art.WizAuthentication</li>
                    <li>@Art.resetpasswrod_home</li>
                </ul>
            }
            else
            {
                <ul class="progressbar">
                    <li class="active">@Art.UserID</li>
                    <li class="current">@Art.WizAuthentication</li>
                    <li>@Art.resetpasswrod_home</li>
                </ul>
            }
            <div class="form-container row">
                <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label id="lblMessage" class="error">@ViewBag.Message</label>
                    </div>
                </div>

                @for (int i = 1; i <= Model.TotalQuestionsToAnswer; i++)
                {
                    <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>@Art.question @i</p>
                            <label id="sQue_@i"></label>
                            @*<select id="sQue_@i" class="select-box-readonly" name="sQue_@i" disabled></select>*@
                            @Html.Hidden("Que_" + i, new { style = "display:none" })

                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>@Art.answer @i</p>
                            <input type="text" class="text-box" name="txtQueAns_@i" id="txtQueAns_@i" data-text="@Art.EmptyAnswerwError">
                            <label id="lblErrMessage_@i" for="txtQueAns_@i" class="error"></label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="btn-section">
            <input type="hidden" value="@ViewBag.UserId" name="hdnUserId" />
            <button class="cancel-btn" type="button" id="btnCancelAnswer">@Art.Previous</button>
            <button class="submit-btn" type="button" id="btnResetPassword">@Art.Continue</button>
        </div>
    </div>
</form>

<script src="~/Scripts/ARTScript/ResetPassword.js?v=@JSVersion.version"></script>

<script type="text/javascript">
    $(document).ready(function () {
        resetPassword.defaults.userQuestionCount = '@Model.TotalQuestionsToAnswer';
        resetPassword.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        resetPassword.defaults.emptyErrorMsg = '@Art.EmptyAnswerwError'
        resetPassword.defaults.isOtpEnabled = '@ArtHandler.Model.Singleton.Instance.ClientSessionID.Is_OTP_Enabled';
        resetPassword.init();
    });
</script>
