@{
    ViewBag.Title = "ART :: " + Art.ForgotPassword;
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/reset-password.svg" alt="forgot-password">
    <span>@Art.ForgotPassword</span>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 form-box">
    <ul class="progressbar progressbar-4">
        <li class="active">@Art.UserID</li>
        <li class="active">@Art.AuthenticationType</li>
        <li class="current">@Art.WizAuthentication</li>
        <li>@Art.resetpasswrod_home</li>
    </ul>
    <form action="/User/ResetPasswordOTP" method="post" id="ResetPasswordOTP-form" style="display:none">
        <!--OTP section-->
        @Html.AntiForgeryToken()
        <div class="form-container row padding-T30">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-6 col-lg-6" >
                    <p>@Art.Enter_OTP</p>
                    <input type="text" class="text-box" name="txtOtp" id="txtOtp" data-text="@Art.EnterReceivedOtp" maxlength="6">
                    <label id="lblMessage" for="txtOtp" class="error">@ViewBag.Message</label>                    
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12" id="otp-section">
                    <p id="pOtpWait" class="otp-section-msg"><span id="spnOtpReceiveMsg">@Art.OTPReceiveMsg</span> <strong><span id="seconds_timer"></span></strong> <a href="#" id="aResetPassResendOTP" style="display:none">@Art.Resend</a></p>
                    <p id="pOtpSecQuestion" style="display:none" class="otp-section-msg"><span>@Art.OTPFailureMsg</span> <a href="#" id="aSecQueResetPassword">@Art.SecurityQuestion</a></p>
                </div>
            </div>
        </div>

    </form>
    <form action="/User/ResetPasswordResendOTP" method="post" id="form-resendOTP">
        @Html.AntiForgeryToken()
    </form>
</div>
<div class="btn-section">
    <button class="cancel-btn" type="button" id="btnResetOtpPrevious">@Art.Previous</button>
    <button class="submit-btn" type="button" id="btnResetOtp">@Art.Next</button>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/ARTScript/ResetPasswordOTP.js?v=@JSVersion.version"></script>
<script src="~/Scripts/ARTScript/jquery.countdownTimer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        resetPasswordOtp.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        resetPasswordOtp.defaults.PlsEnterOtp = '@Art.PlsEnterOtp';
        resetPasswordOtp.defaults.InvalidOTP = '@Art.InvalidOTP';
        resetPasswordOtp.defaults.AttemptCount = '@ViewBag.AttemptCount';
        resetPasswordOtp.defaults.IsOtpAttemptExceed = '@ViewBag.IsOtpAttemptExceed';
        resetPasswordOtp.defaults.OTPResendMsg = '@Art.OTPResendMsg';
        resetPasswordOtp.defaults.OTPMinMsg = '@Art.OTPMinMsg';

        $('#seconds_timer').countdowntimer({
            seconds: 60,
            timeUp: resetPasswordOtp.timeisUp
        });
        resetPasswordOtp.init();
    });
</script>