@model ArtHandler.Model.AccountUnlockModel
@{
    ViewBag.Title = "User Setting";
    Layout = "~/Views/LayoutMaster/_Layout1.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 page-title text-center">
    <img src="~/Images/ArtImages/acc-unlock.svg" alt="forgot-password">
    <span>User Settings</span>
</div>


<!-- user questionnaire section starts here-->
<div id="user-settings">
    <div class="col-sm-12 col-md-12 col-lg-12 form-box">
        <div class="form-container row">
            <form action="User/UserSettings" role="form" id="userSettings-form" method="post">

                @Html.AntiForgeryToken()
                <div class="row  margin-T15">
                    <div class="col-sm-8 col-md-8 col-lg-8 margin-T15 margin-T15">

                        <p>Do you wish to receive password expiry email remainders from ART?</p>
                    </div>
                    @Html.CheckBox("PwdName", Convert.ToBoolean(ViewBag.IsPwdExpiry) == false ?false:true, new { id = "passwordRemainder" })                   
                    <div class="col-sm-4 col-md-4 col-lg-4 margin-T15">
                        NO <label class="switch">
                            <span class="slider round"></span>
                        </label> YES
                    </div>
                </div>

            </form>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 margin-T15">

                    <p class="margin-T15">Your recent account locked out    </p>
                </div>


            </div>

            <div class="dvLockSource col-sm-12 col-md-12 col-lg-12 text-center pl-1 pr-0 pt-1" id="dvLockingSource">
            </div>
            <div class="row  margin-B15">
                your registered mobile number is @ViewBag.MobileNo
                <div class="col-sm-8 col-md-8 col-lg-8 margin-T15">                  
                    <p>Do you wish to change your mobile number?</p>
                </div>
               
                <div class="col-sm-4 col-md-4 col-lg-4 margin-T15">
                    @Html.CheckBox("MobileNoChange", false, new { id = "MobileNoChange" })
                    @*NO
                    <label class="switch">                       
                        
                        <input type="checkbox" id="mobChange" name="NobileNoUpdate">
                        <span class="slider round"></span>
                    </label>

                    YES*@
                </div>
            </div>
        </div>

    </div>

    <div class="btn-section">
        <input type="hidden" value="@ViewBag.UserId" name="hdnUserId" />
        <button class="cancel-btn clsGoHome"  id="btnUserSettingsPrev"  type="button">@Art.Previous</button>
     
    </div>
</div>




<!--Modal Fail ends here-->
<script src="~/Scripts/ARTScript/UserSettings.js?v=@JSVersion.version"></script>
<script type="text/javascript">
    $(document).ready(function () {
        usersettings.defaults.defaultLang = '@Html.Raw(ViewBag.DefaultLang)';
        usersettings.defaults.MobilNumberRegisterValidation = '@Art.USMobilNumberRegisterValidation';
        usersettings.init();
    });
</script>
    
